@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  background-color: #444444;
  min-height: 100vh;
}

:root {
  --bg-nav: #171717;
  --bg-secondary: #444444;
  --bg-pink: #cb0c9f;
}
